main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.35);
  display: flex;
  width: 75rem;
  height: 45rem;
}

@media screen and(max-width: 750px) {
  main {
    width: 90%;
  }
}
